<div class="container">
  <!--main-->
  <div class="container" id="main">
    <!-- Search bar-->
    <div class="row">
        <div class="col-md-12">
            <div class="well notMarginBottom">
              <form class="form" {{action "search" on="submit"}}>
                {{#if showErrorMsg}}
                  <div class="alert alert-danger" role="alert">
                    {{errorMsg}}
                  </div>
                {{/if}}
                <h4>Search</h4>
                <div class="input-group text-center">
                  {{input value=searchTerm class="form-control input-lg" type="email" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$" placeholder="Enter the email address" autocomplete="off"}}
                  <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">Search</button></span>
                </div>
              </form>
            </div>
            {{#unless currentReportEmpty}}
              <div class="alert alert-info alert-dismissable">
                  Results for <strong>{{currentReport.principalEmail}}</strong>.
              </div>
            {{/unless}}
              <div class="dropdown {{if dropdownOpen 'open'}}">
                <a href="#" class="btn btn-primary dropdown-toggle savedReportsButtom" data-toggle="dropdown" {{action 'toggleDropdown'}}>
                  Last Reports Seen <b class="caret"></b>
                </a>
                <ul class="dropdown-menu limitedDropdown">
                  {{#each lastReports as |report|}}
                    <li><a href="#" {{action 'savedReportSelected' report}}>{{report}}</a></li>
                  {{/each}}
                </ul>
              </div>
        </div>
    </div>

  {{#unless currentReportEmpty}}
    <div class="row">
      <div class="col-md-4 col-sm-6">
        {{#unless emailListEmpty}}
          {{list-group-items listName='Emails' items=emailList}}
        {{/unless}}
        {{#unless phoneListEmpty}}
          {{list-group-items listName='Phones' items=phoneList}}
        {{/unless}}
      </div>
      <div class="col-sm-4 col-xs-6">
        {{#unless nameListEmpty}}
          {{list-group-items listName='Full Names' items=nameList}}
        {{/unless}}
      </div>
      <div class="col-sm-4 col-xs-6">
        {{#unless userNamesListEmpty}}
          {{list-group-items listName='Usernames' items=currentReport.usernames}}
        {{/unless}}
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        {{#unless educationListEmpty}}
          <div class='panel panel-default'>
            {{simple-table-striped nameColumns=educationInfoColumns data=educationDataColumns sectionName='Education'}}
          </div>
        {{/unless}}
      </div>
          <div class="col-md-12">
        {{#unless jobListEmpty}}
          <div class='panel panel-default'>
            {{simple-table-striped nameColumns=jobInfoColumns data=jobDataColumns sectionName='Jobs'}}
          </div>
        {{/unless}}
      </div>
  </div>

    {{#unless socialListEmpty}}
      <hr>
      <div class="row">
        <div class="col-md-12"><h2>Social Networks</h2></div>
        {{#each socialData as |item|}}
        <div class="col-sm-4 col-xs-6">
          {{social-card socialNetwork=item}}
        </div>
        {{/each}}
      </div>
    {{/unless}}
  {{/unless}}
  </div>
  <hr>

  <footer>
    <p>© 2017 Omar Rodriguez, Horus.</p>
  </footer>
</div>